.page {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.button {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__content {
  background: #fff;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(204, 204, 204, 0.2705882353);
  z-index: 10;
}

.popup__content {
  position: absolute;
  background: #fff;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  padding: 40px 0 10px 30px;
}
.header__line {
  width: 100%;
  opacity: 0.5;
  margin: 0;
}

.button {
  margin-left: 15px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #808080;
  border-radius: 10px;
}

.navigation__today-btn {
  margin-left: 35px;
}

.calendar__header {
  display: flex;
  margin-left: 48px;
}
.calendar__day-label {
  flex-grow: 1;
  flex-basis: 129px;
  min-width: 129px;
  height: 100px;
  opacity: 0.7;
}
.calendar__body {
  height: 100vh;
  width: 100vw;
}
.calendar__week-container {
  display: flex;
  overflow-y: scroll;
  height: 79%;
  width: 100%;
}
.calendar__week-container::-webkit-scrollbar {
  display: none;
}
.calendar__week {
  position: relative;
  display: flex;
  flex-grow: 1;
  height: 1440px;
  margin-bottom: 25px;
}
.calendar__day {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 1440px;
  flex-basis: 129px;
  min-width: 129px;
  border: 1px solid #eee;
  margin-bottom: 50px;
}
.calendar__time-slot {
  display: flex;
  position: relative;
  flex-direction: column;
  border-bottom: 0.5px solid #eee;
  flex-grow: 1;
  flex-basis: 129px;
}

.day-label {
  display: flex;
  flex-direction: column;
}
.day-label__day-name {
  display: flex;
  margin: auto;
  text-transform: uppercase;
  font-size: 16px;
}
.day-label__day-number {
  display: flex;
  margin: 0 auto 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.day-name_current {
  color: blue;
}

.day-number_current {
  color: #fff;
  background-color: blue;
  border-radius: 50%;
}

.calendar__time-scale {
  display: block;
  min-width: 48px;
}

.time-slot {
  min-height: 60px;
}
.time-slot__time {
  position: relative;
  top: 48px;
  left: 12px;
  font-size: 12px;
  opacity: 0.5;
}

.event {
  position: absolute;
  width: 90%;
  height: 100px;
  padding: 10px;
  color: #fff;
  background-color: rgb(3, 155, 229);
  z-index: 2;
  border-radius: 5%;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
