.button {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    background: #fff;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #cccccc45;
  z-index: 10;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    border-radius: 8px;
    background-image: linear-gradient(0deg, #e9e9e9, #fff);
    display: flex;
    position: absolute;
    width: 100px;
    height: 50px;
    padding: 8px;
    border: 1px solid #ccc;
    justify-content: center;
  }
}

.hidden {
  display: none;
}

.delete-event-btn {
  cursor: pointer;
  display: flex;
  margin: auto;
  color: #474a51;
  border-radius: 8px;
  border: 1px solid #0000004d;
}


input[name='title'] {
  width: 280px;
}
