// стили навигации
.header {
  display: flex;
  padding: 10px 0 10px 30px;

  &__line {
    width: 100%;
    opacity: 0.5;
    margin: 0;
  }
}

.button {
  margin-left: 15px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #808080;
  border-radius: 10px;
}

.navigation__today-btn {
  margin-left: 35px;
}
