
.calendar {
  &__time-scale {
    display: block;
    min-width: 48px;
  }
}

.time-slot {
  min-height: 60px;

  &__time {
    position: relative;
    top: 48px;
    left: 12px;
    font-size: 12px;
    opacity: 0.5;
  }
}
